<%= title l(:label_product_new) %>

<%= labelled_form_for @product  do |f| %>
  <%= error_messages_for 'product' %>
  <%= hidden_field_tag 'project_id', params[:project_id] if params[:project_id] %>
  <%= hidden_field_tag 'issue_id', params[:issue_id] if params[:issue_id] %>
  <div class="box tabular">
    <div id="all_attributes">
    <%= render :partial => 'products/form', :locals => {:f => f} %>
    </div>
  </div>
  <%= submit_tag l(:button_create) %>

<% end %>